################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CompleteUninstaller
/Complete.4ac2121c/x64/Debug
/x64/Debug
